###### CODIFICACION DE CATEORIAS

In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.DataFrame([
    ("Mexico","Married", "High school"),
    ("Colombia","Single","Undergraduarte"),
    ("Guinea Equatorial","Divorced","College"),
    ("Mexico","Single","Primary"),
    ("Colombia","Single","Primary"), 
    ], columns = ["Country","Marital Status","Education"
    
])

dataset

             Country Marital Status       Education
0             Mexico        Married     High school
1           Colombia         Single  Undergraduarte
2  Guinea Equatorial       Divorced         College
3             Mexico         Single         Primary
4           Colombia         Single         Primary